.gib {
    font-family:"gib";
}

.gir {
    font-family:"gir";
}

.bnto {
    font-family:"bnto";
}

.bnt {
    font-family:"bnt";
}

@font-face {
    font-family: "bnto";
    src: url("/fonts/big_noodle_titling_oblique.woff") format('woff');
}

@font-face {
    font-family: "bnt";
    src: url("../fonts/big_noodle_titling.WOFF") format('woff');
}

@font-face {
    font-family: "gib";
    src: url("../fonts/GlacialIndifference-Bold.woff") format('woff');
}

@font-face {
    font-family: "gir";
    src: url("../fonts/GlacialIndifference-Regular.woff") format('woff');
}
